@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>
<html>
<head>
    <title>Payment Successful - The Coffee Canvas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
       
        body {
            background-color: #f9f5f2; 
        }

        .payment-success {
            text-align: center;
            margin: 30px 0;
        }

        .success-title {
            font-size: 36px;
            color: #795548; 
        }

        .success-message {
            font-size: 24px;
            color: #444; 
        }

        .back-to-menu-button {
            background-color: #795548;
            color: #fff;
            padding: 10px 20px;
            font-size: 18px;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="payment-success">
            <h1 class="success-title">Payment Successful</h1>
            <p class="success-message">Thank you for your order! Your coffee will be ready soon.</p>
        </div>
        <div class="text-center">
            <button class="back-to-menu-button" onclick="clearCartAndBackToMenu()">Back to Menu</button>
        </div>
    </div>

    
</body>
</html>

