@using CoffeeCanvas.ViewModels
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
</head>
<body>
    <div id="custom-popup" class="pop">
        <div class="popup-content">
            <span id="popup-text">Added to cart.</span>
            <button id="close-popup" class="popup-button">Close</button>
        </div>
    </div>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="~/js/Cart.js"></script>
